:root {
    --primary-color: #9F7D58;
    --secondary-color: #3A6B9C;
    --accent1-color: #E8F4F8;
    --accent2-color: #B0C9DD;
    --accent1-see-through: rgba(232, 244, 248, 0.9);
    --accent2-see-through: rgba(176, 201, 221, 0.9);
}

header {
    display: grid;
    grid-template-columns: 400px 1fr;
    justify-items: center;
    align-items: center;
    background: var(--primary-color);
    max-width: 1000px;
}

header img {
    width: 150px;
    padding: 1px;
    border: 2px solid var(--secondary-color);
    margin: 5px 0px 5px 0px;
}

header nav a {
    padding: 10px;
    border: 1px solid black;
    background: var(--accent1-color);
    text-decoration: none;
    color: var(--primary-color);
    width: 100px;
    text-align: center;
}

header nav a:hover {
    color: var(--primary-color);
    font-weight: 400;
    background: var(--accent2-color);
}

header nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 5px;
}

body, html {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    color: var(--primary-color);
    width: auto;
    
    /* font-weight: ###; */
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--secondary-color)
    /* font-weight: ###; */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin: 10px 0 0 0;
}

.hero h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 19%;
    left: 23.2%;
    background-color: var(--accent2-see-through);
    font-weight: 400;
	/* border: 1px solid #000; */
    width: 1000px;
    height: 70px;
}

.hero article {
    position: absolute;
    opacity: 1;
    top: 40%;
    left: 24.5%;
    background-color: var(--accent1-see-through);
	/* border: 1px solid #000; */
    padding: 5px;
	box-shadow: 0 0 30px #111;
    border-radius: 5px;
}

.hero article img{
    width: 100px;
    height: auto;
    float: right;
    border: 1px solid black;
    padding: 1px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    padding: 0 5px 5px 5px;
    margin: 10px
}

.history h2 {
    grid-column: 1/-1;
    font-weight: 400;
}

.history img {
    width: 300px;
    height: auto;
    padding: 1px;
    border: 1px solid black;
}

.adventure {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
    align-items: center;
    text-align: center;
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
    padding: 0 5px 5px 5px;
    margin: 10px;
    
}

.adventure h2 {
    grid-column: 1/-1;
    font-weight: 400;
}

.adventure figcaption {
    font-size: 14px;
    text-align: center;
}

.adventure img{
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    background: var(--primary-color);
    max-width: 1000px;
    padding: 10px;
}

footer p {
    color: var(--accent1-color)
}

footer a {
    text-decoration: none;
}

.sociallinks img{
    width: 40px;
    height: auto;
}

